.plans__content__unidades {
  background-color: var(--amarelo);
  align-items: center;
  text-align: center;
  display: inline-block;
  font-size: 1.5rem;
  width: 50%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin: 0.4em 0;
  margin-bottom: -1em;
}

.plans__unidades {
  color: var(--roxo);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.8em;
  width: 100%;
}

.banner__plan2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: -10px;
}
.banner__plan__img2 {
  width: 420px;
  height: 300px;
  border-radius: 25px;
  cursor: pointer;
}

.banner__plan2__content {
  margin: 2em 0;
}
.banner__plan2__content > h3 {
  color: var(--roxo);
  font-size: 2rem;
  font-weight: 400;
}

.banner__plan2__content > p {
  font-size: 1rem;
  color: var(--cinza);
  margin-top: 1em;
}
