footer {
  background-color: var(--roxo);
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: cen;
}

.footer_logos {
  margin-right: 30em;
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}

.footer_logo__icones {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.footer_lista {
  color: white;
  font-weight: 400;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
}

.footer_lista a {
  color: white;
  text-decoration: none;
}

.footer_lista h3 {
  color: var(--amarelo);
  font-size: 1.7em;
  font-weight: 600;
}

.footer_lista__item {
  gap: 30px;
}
.footer__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 6em;
  justify-content: center;
}

.copyright {
  color: var(--cinza);
  text-align: center;
  border-top: 1px solid var(--branco);
}
