.header__nav-perfil {
    background-color: var(--roxo);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 84px;
    padding: 20px;
}

.perfil-imagem {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.perfil-imagem img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    
}

.perfil-usuario h2 {
    color: var(--amarelo);
}

.perfil-usuario a {
    color: var(--cinza);
    text-decoration: none;
    margin-top: 5px;
}

.nav__container-perfil {
    display: flex;
    align-items: center;
}

.nav__logo-perfil {
    align-items: center;
}

.main-perfil {
    display: flex;
}

.sidebar {
    width: 400px;
    background-color: var(--roxo);
    color: var(--branco);
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 0;
}

.sidebar nav ul {
    list-style: none;
    padding: 10%;
    width: 100%;
    text-align: start;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 500;
}

.sidebar .contato-sair {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-top: auto;
}

.sidebar .contato-sair a {
    color: var(--branco);
    text-decoration: none;
    margin: 10px;
}

.info-aulas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aulas {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.aulas .aulas-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 40px 30px;
    box-sizing: border-box;
}

.aulas .aulas-card img {
    width: 100%;
    border-top: 8px;
}

.aulas .aulas-card h2 {
    color: var(--roxo);
    margin: 15px 0 10px;
}

.aulas .aulas-card p {
    color: var(--cinza);
}

.aulas .aulas-card button {
    background-color: var(--amarelo);
    color: var(--roxo);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}

.hidratacao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    width: 80%;
    box-sizing: border-box;
    margin: 20px 40px;
}

.hidratacao img {
    width: 50%;
    height: auto;
}

.hidratacao .text-hidrat {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hidratacao .text-hidrat h2 {
    color: var(--roxo);
}

.hidratacao .text-hidrat p {
    color: var(--cinza);
    text-align: start;
}

.hidratacao button {
    background-color: var(--amarelo);
    color: var(--roxo);
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 50%;
}
